* {
  margin: 0;
  text-decoration: none;
}
body {
  background-color: #1c0c5b;
  margin: 0;
}

.navbar {
  background-color: #3d2c8d;
  text-align: center;
  color: #c996cc;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.movie-card {
  color: #1c0c5b;
  background-color: #916bbf;
  border-radius: 3%;
  margin: 20px;
  align-self: center;
  width: 70%;
  height: 400px;
  text-align: center;
}
.movie-title {
  margin: 10px 0;
  text-decoration: none;
}
.movie-img {
  width: 90%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  margin: 10px 0;
}

.movie-overview {
  text-align: justify;
  margin: 10px 0;
  padding: 0 15px;
}

.card-detail {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
  padding: 0 15px;
}
.movie {
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  .movie {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    justify-items: center;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .movie {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 3fr));
  }
}
@media only screen and (max-width: 479px) {
  .movie {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 3fr));
  }
}
